
<div ng-app="productApp" ng-controller="userController" class="container" ng-cloak>

    <form name="userLoginForm" class="form-horizontal formborder-set-login col-md-4">
            <h3 class="page-header">User Login</h3>
            <div ng-if="error" class="alert alert-danger" role="alert">
            <button type="button" class="close"><span ng-click="error=false">×</span><span class="sr-only">Close</span></button>
            <p class="col-md-push-5">{{successMessage}}</p>
        </div>
            <span ng-if="userLoginForm.emailId.$invalid && !userLoginForm.emailId.$error.required" class="col-md-offset-3 text-danger"><b>Please enter valid email id</b></span>
        <div></div>  
         <div class="form-group">
                <label class="col-md-1">EmailId</label>
                <input name="emailId" type="email" class="form-control col-md-push-2 col-md-4" autocomplete="off" ng-required="true" ng-model="userModel.EmailId" />
            </div>
            <div class="form-group">
                <label class="col-md-1">Password</label>
                <input name="password" type="password" class="form-control col-md-push-2 col-md-4" autocomplete="off" ng-required="true" ng-model="userModel.Password" maxlength="10" />
            </div>
            <div class="form-group">
                <input type="button" ng-disabled="userLoginForm.$invalid" name="save" ng-click="userLogin(userModel)" class="btn btn-primary col-md-offset-4" value="Login" />
            </div>
    </form>
</div>

    